.accordion {
    @include clearfix;
    margin: rhythm(1) 0;
    border: 1px solid $midgrey;
    border-top: 0;

    h3 {
        background: $green;
        padding: rhythm(0.5);
        color: $white;
        @include border-top-radius( 4px );

        a {
            color: $white;
        }
    }
    
    ol {
        margin-left: 0 !important;

        li {
            padding: rhythm(0.5);
            list-style: decimal;
            list-style-position: inside;
            border-bottom: 1px solid $midgrey;

            &:last-child {
                border-bottom: 0;
            }

            a {
                display: block;
                color: $black;
                font-weight: bold;
            }
        }
    }
}