@mixin btn( $bg-color: $green, $width: auto, $padding: 0 30px ) {
	display: inline-block;
	width: $width;
	padding: $padding;
	height: rhythm(2);

	@include change-font-size( 18px );
	color: $white;
	text-align: center;
	text-decoration: none;

	border: 0;
	background: $bg-color;
	border-radius: 4px;
	box-shadow: inset 0px -3px 0px 0px rgba(0, 0, 0, 0.19);
	@include transition ( background 0.3s ease-in-out );

	cursor: pointer;
	outline: none;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;

	&:hover {
		background: $darkgreen;
		color: $white;
	}	
}

button,
.button {
	@include btn();
}