@mixin opacity($opacity) {
  filter: unquote("progid:DXImageTransform.Microsoft.Alpha(Opacity=#{round($opacity * 100)})");
  opacity: $opacity
}

@mixin omega-reset($nth) {
  &:nth-child(#{$nth}) { margin-right: flex-gutter(); }
  &:nth-child(#{$nth}+1) { clear: none }
}

@mixin sprite( $position: 0 0, $url: $sprite-bg, $bg-size: $sprite-bg-size ) {
	background-image: $sprite-bg;
	background-position: $position;
	background-repeat: no-repeat;
}

@mixin rotate( $degrees ) {
	-webkit-transform: rotate( #{$degrees}deg );
	-moz-transform: rotate( #{$degrees}deg );
	-o-transform: rotate( #{$degrees}deg );
	transform: rotate( #{$degrees}deg );
	writing-mode: lr-tb;
}

@mixin border-radius( $radius ) {
	-webkit-border-radius: #{$radius}px;
	-moz-border-radius: #{$radius}px;
	border-radius: #{$radius}px;

	behaviour: url( 'PIE.htc' );
}
