.breadcrumbs {
	padding: rhythm(1) rhythm(1) rhythm(0.5) rhythm(1);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.19);
	margin-bottom: rhythm(1);
}

.main-content {
	background: $midgrey;
	padding: rhythm(1);

	.inner {
		@extend %full-wrapper;
	}

	article.post {
		@extend %bg-box;
	}
}