.breadcrumbs {
	padding: rhythm(1) rhythm(1) rhythm(0.5) rhythm(1);
	box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.19);
	@include change-font-size(16px);

	a {
		text-decoration: underline;
	}
	.sep {
		margin: 0 10px;
	}
}

.main-content {
	background: $midgrey;
	padding: rhythm(1);

	.inner {
		@extend %full-wrapper;
	}

	article.post {
		@extend %bg-box;
	}
}

article.post {
	h2 {
		line-height: 1.5em;
	}

	ul, ol {
		margin-left: 30px;
	}
	ul li,
	ol ul li {
		list-style: disc;
	}
	ol li,
	ul ol li  {
		list-style: decimal;
	}
}